{% extends 'catalog/base.html' %}

{% block content %}
{% for object in object_list %}
<div class="col-4">
    <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
            <h4 class="my-0 fw-normal">{{ object.name }}</h4>
        </div>
        <div class="card-body">
            <p>{{ object.description }}</p>
            <div>
                <p>
                    <a href="{% url 'catalog:category_product' object.pk %}" type="button"
                       class="h-100 btn btn-lg btn-secondary text-grey">Перейти к товарам
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
